<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      {{ $ctrl.usersTitle }}
    </h1>
  </div>
</div>

<form style="padding: 10px 0px;">
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="keywordLabel">Keyword</label>
      <input type="text" class="form-control" ng-model="$ctrl.users.keyword" id="exampleInputEmail1" placeholder="Keyword">
    </div>
    <div class="col-md-6 form-group">
      <label for="nameLabel">Name</label>
      <input type="text" class="form-control" ng-model="$ctrl.users.name" id="exampleInputPassword1" placeholder="Name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="branchLabel">Branch</label>
      <select name="" id="" class="form-control" ng-model="$ctrl.users.branch" ng-options="branch.id as branch.company for branch in $ctrl.branches"></select>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="$ctrl.search($ctrl.users)" value="Search" />
  <!--<button type="submit" class="btn btn-primary">Search</button>-->
</form>

<div class="flex-scroll-content table1-container">
  <custom-table options="$ctrl.table1Options"></custom-table>
</div>
      </div>
    </div>
  </div>
</div>
